<html>

<head></head>

<body style="line-height: 1.5;">
    <div class='container'
        style="max-width: 450px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
        <div class='logo'> <img style="width: 100px;" src="{{imageSrc}}" alt='Logo'> </div>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;">
                    <h2 style="margin-top: 40px; color: #2d3142; font-size: 28px; font-weight: bold;">Dear Gregory
                    </h2>
                </td>
            </tr>
        </table>
        </table>
        <div > <span style="display: block; color: #525f7f;   font-size: 18px;  font-family: Imprima, Arial, sans-serif; margin-bottom: 1rem;">We hope this email finds you well. It appears that you are having trouble accessing your email account, 
        </span>
             <span style="display: block; color: #525f7f;   font-size: 18px;  font-family: Imprima, Arial, sans-serif; margin-bottom: 1rem;">and we are here to assist you in resetting your password and getting you back in control.</span>
             <span style="display: block; color: #525f7f;   font-size: 18px;  font-family: Imprima, Arial, sans-serif;">To ensure the security of your account, please follow the instructions below to initiate the password reset process:.</span>
        </div>

        <div style="text-align: center; margin-top: 30px;"> <a
                href='http://192.168.178.21:7050/registration/3'
                target='_blank'
                style='font-family: sans-serif; font-size: 18px; vertical-align: top; border-radius: 30px; text-align: center; background-color: #336699; border-bottom: 32px; width: 450px; border: solid 1px #336699;  box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0 auto; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #336699; border-color: #336699; color: #ffffff;'>Reset Password
                </a> </div>
        <div style="margin-top: 15px;">
            <p style="font-size: 18px; color: #525f7f;">Best regards,</p>
            <p style="font-size: 18px; color: #525f7f;">CARMAX</p>
        </div>
        <div style="border: 1px solid lightgray; margin-top: 50px;"></div>
        <p style=" text-align: center; margin-top: 25px; margin-bottom: 0; color: #525f7f; font-size: 16px;">If you did not request a password reset, or if you believe your account has been compromised, please contact our support team immediately at  <a href="mailto:info@carmaxlive.com" style="color: #336699">info@carmaxlive.com</a> </p>
    </div>
</body>

</html>