<html>

<head>
</head>

<body style="line-height: 1.5;">
    <div class='container'
         style="max-width: 450px; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
        <div class='logo'> <img style="width: 100px;" src="{{imageSrc}}" alt='Logo'> </div>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left;">
                    <h2 style="margin-top: 40px; color: #2d3142; font-size: 28px; font-weight: bold; font-family: Imprima, Arial, sans-serif;">
                        Dear @Model.FirstName
                    </h2>
                </td>
            </tr>
        </table>
        </table>
        <div>
            <span style="display: block; color: #525f7f;   font-size: 18px;  font-family: Imprima, Arial, sans-serif; margin-bottom: 1rem;">
                Thank you for your interest in CARMAX.
            </span>
            <span style="display: block; color: #525f7f;   font-size: 18px;  font-family: Imprima, Arial, sans-serif;"> We appreciate the time and effort you put into your account application.</span>
        </div>

        <div style="margin-top: 15px;">
            <p style="font-size: 18px; color: #525f7f; font-family: Imprima, Arial, sans-serif;">After careful review, we regret to inform you that we are unable to approve your account at this time. We understand that this news may be disappointing, and we apologize for any inconvenience caused.</p>
            <p style="font-size: 18px; color: #525f7f; font-family: Imprima, Arial, sans-serif;">Kind regards,</p>
            <p style="font-size: 18px; color: #525f7f; font-family: Imprima, Arial, sans-serif;">CARMAX</p>
        </div>
        <div style="border: 1px solid lightgray; margin-top: 50px;"></div>
        <p style="text-align: center; margin-top: 25px; margin-bottom: 0; color: #525f7f; font-size: 16px; font-family: Imprima, Arial, sans-serif;">If you have any questions or would like further clarification regarding the decision, please feel free to reach out to our support team at  <a href="mailto:info@carmaxlive.com" style="color: #336699">info@carmaxlive.com</a></p>


    </div>
</body>

</html>